@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    margin: 2rem;
    background-color: #141c2f;
    font-family: sans-serif;
    color: white;
    font-family: 'Space Mono', monospace;
}

.title-and-theme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#theme-btn {
    /* outline: 1px solid white; */
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 50px;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
}

#theme-btn img {
    width: 2rem;
    vertical-align: middle;
}
