@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
body {
  margin: 1rem;
  background-color: #141c2f;
  color: white;
  font-family: 'Space Mono', monospace;
}

.title-and-theme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  height: 50px;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
}

#theme-btn * {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#theme-btn img {
  width: 2rem;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1f2a48;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 20px;
  max-width: 40rem;
}

.search-container img {
  width: 30px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.search-container input {
  width: calc(100% - 5rem);
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: white;
}

.search-container button {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #0079fe;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.search-container button:hover {
  background-color: #005abb;
}

.search-container button:active {
  background-color: #004792;
}

.user-container {
  background-color: #1f2a48;
  border-radius: 20px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 40rem;
}

.user-container .initials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.user-container h3 {
  font-weight: 100;
  color: #7ebcff;
}

.user-container #pug {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.user-container .info-container {
  background-color: #141c2f;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  border-radius: 20px;
}

.user-container .info-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-container .info-container p span:nth-child(2) {
  font-weight: 600;
}

.user-container ul {
  list-style: none;
  padding: 0;
}

.user-container ul li {
  margin-bottom: 10px;
}

.user-container ul li img {
  width: 30px;
  vertical-align: middle;
}

.user-container ul li a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */