@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    margin: 2rem;
    background-color: #141c2f;
    color: white;
    font-family: 'Space Mono', monospace;
}

.title-and-theme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#theme-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 50px;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
}

#theme-btn {
    * { transform: translateY(4px); } 
    img { width: 2rem; }
}

.search-container {
    display: flex;
    background-color: #1f2a48;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    img { 
        width: 30px;
        transform: translateY(25%);
    }
    input { 
        flex-basis: calc(100% - 5rem);
        font-size: 1rem;
        background-color: transparent;
        border: none;
        color: white;
    }
    button {
        font-family: 'Space Mono', monospace;
        font-size: 1rem;
        padding: 10px;
        border-radius: 10px;
        background-color: #0079fe;
        border: none;
        color: white;
        cursor: pointer;
    }
}